html {
	--largeur: 8.5in;
	--hauteur: 11in;
	--marges: .25in;
}
@page {
	margin: 0;
	size: var(--largeur) var(--hauteur);
}

@media all {
	html {
		height: 100%;
		font-size: 1.8vw;
	}
	html.edition {
		font-size: 11pt;
	}
	body {
		height: 100%;
		font-family: arial;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}
	*.interface {
		display: grid;
		grid-template-areas: "h h" "o g" "c g" "f f";
		grid-template-rows: auto 1fr auto auto;
		grid-template-columns: 20em 1fr;
		// grid-gap: 0.5em 0.5em;
		height: 100%;
		width: 100%;
		& > header,
		& > footer {
			background-color: #234;
			color: #dbdb24;
			padding: 0 1em 0;
			img {
				margin-right: .5ch;
			}
		}
		#horaire {
			padding: 1em;
		}
	}
	iframe {
		border:none;
	}
}

@media all and (min-width: 13in) {
	*.interface {
		display: grid;
		grid-template-areas: "h h h" "o g c" "f f f";
		grid-template-rows: auto 1fr auto;
		grid-template-columns: 20em 1fr 20em;
		& > header,
		& > footer {
			background-color: #234;
			color: white;
			padding: 0 1em 0;
		}
	}
}

div#options {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .1);
	padding: 1em;
	& th {
		text-align: right;
		width: 5em;
	}
}
div.resultats {
	padding-bottom: 1em;
	border-bottom: 1px solid#999;
	border-bottom: groove;
	margin-bottom: 1em;
}

div.champ {
	display: flex;
	align-items: center;
	& > * {
		flex: 1 0 0px;
	}
	& > label {
		flex: 0 0 4em;
		text-align: right;
		padding-right: .5em;
		font-weight: bold;
	}
	& input[type=button],
	& input[type=text],
	& input:not([type]),
	& select,
	& textarea {
		box-sizing: border-box;
		resize: vertical;
	}
}
& button.icone {
	padding: 0.5em;
	svg {
		display: block;
		fill: #234;
	}
}

div#contenu {
	flex: 1 0 8in;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#status {
	background: #ccc;
	width: 100%;
	height: 100%;
	padding: 1em;
	box-sizing: border-box;
	& div.boutons {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	& textarea,
	& input {
		box-sizing: border-box;
	}
	& textarea {
		resize: vertical;
	}
}

div#horaire {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	margin: auto;
	flex-direction: column;
	& > div.caption {
		line-height: 1;
		margin-bottom: 0.25em;
		font-weight: bold;
		font-size: 3em;
		flex: 0 0 auto;
		display: flex;
		justify-content: space-between;
		& > span:only-child {
			text-align: center;
			flex: 1 0 0;
		}
	}
	& > div.grille {
		flex: 1 0 0;
	}
}

div.grille {
	@gap: 1px;
	display: grid;
	grid-auto-columns: 5em;
	grid-auto-rows: 2em;
	grid-auto-flow: column dense;
	grid-gap: @gap;
	padding: @gap;
	background-color: black;
	& > div {
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: space-around;
	}
	div.heure {
		display: flex;
		flex-direction: column;
		font-size: smaller;
		font-weight: bold;
		background-color: rgba(80%, 80%, 80%, 1);
		line-height: 1;
		& > div:nth-child(2) {
			display: none;
		}
	}
	div.case {
		background-color: rgba(95%, 95%, 95%, 1);
		background-color: white;
	}
}

div.boutonsPlage {
	@epaisseur: 1em;
	@fond: rgba(0, 0, 0, .4);
	@couleur: white;
	@couleur: hsl(60, 60%, 60%);
	@hover-fond: yellow;
	@hover-couleur: black;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	& > * {
		position: absolute;
		display: flex;
		& > * {
			flex: 1 0 0;
			display: flex;
			background-color: @fond;
			justify-content: center;
			align-items: center;
			& svg {
				display: block;
				fill: @couleur;
			}
			&:hover {
				background-color: @hover-fond;
				svg {
					fill: @hover-couleur;
				}
			}
		}
	}
	& > :nth-child(1),
	& > :nth-child(2) {
		width: 100%;
		height: @epaisseur;
		& svg {
			width: @epaisseur;
		}
	}
	& > :nth-child(3),
	& > :nth-child(4) {
		height: 100%;
		width: @epaisseur;
		& svg {
			height: @epaisseur;
		}
	}
	& > :nth-child(1) {
		top: -@epaisseur;
		& > :first-child {
			border-top-left-radius: 100%;
			padding-left: 15%;
		}
		& > :last-child {
			border-top-right-radius: 100%;
			padding-right: 15%;
		}
		& > :only-child {
			border-top-left-radius: 50% 100%;
			border-top-right-radius: 50% 100%;
			padding: 0;
		}
	}
	& > :nth-child(2) {
		bottom: -@epaisseur;
		& > :first-child {
			border-bottom-left-radius: 100%;
			padding-left: 15%;
		}
		& > :last-child {
			border-bottom-right-radius: 100%;
			padding-right: 15%;
		}
		& > :only-child {
			border-bottom-left-radius: 50% 100%;
			border-bottom-right-radius: 50% 100%;
			padding: 0;
		}
	}
	& > :nth-child(3) {
		flex-direction: column;
		left: -@epaisseur;
		& > :first-child {
			border-top-left-radius: 100%;
			padding-top: 15%;
		}
		& > :last-child {
			border-bottom-left-radius: 100%;
			padding-bottom: 15%;
		}
		& > :only-child {
			border-top-left-radius: 100% 50%;
			border-bottom-left-radius: 100% 50%;
			padding: 0;
		}
	}
	& > :nth-child(4) {
		flex-direction: column;
		right: -@epaisseur;
		& > :first-child {
			border-top-right-radius: 100%;
			padding-top: 15%;
		}
		& > :last-child {
			border-bottom-right-radius: 100%;
			padding-bottom: 15%;
		}
		& > :only-child {
			border-top-right-radius: 100% 50%;
			border-bottom-right-radius: 100% 50%;
			padding: 0;
		}
	}
	& > :nth-child(5),
	& > :nth-child(6) {
		bottom: -@epaisseur;
		& > * {
			border-radius: 100%;
			padding: 3px;
		}
	}
	& > :nth-child(5) {
		left: -@epaisseur;
	}
	& > :nth-child(6) {
		right: -@epaisseur;
	}
}

div.jour {
	background-color: #666;
	color: white;
	font-weight: bold;
}

@media (max-width: 13in) {
	.interface {
		& > *:nth-child(2) {
			background-color: #CC0 !important;
			& > * {
				position: absolute;
				right: 0;
				width: 3in;
				background-color: inherit !important;
				z-index: 1000;
			}
			&:hover {
				& > * {
					left: 0;
					display: block;
				}
			}
		}
	}
}

@media screen {
	div#horaire > .modif .plage:not(.courant):hover {
		position: relative;
		box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	}
}

div.plage {
	padding: 0 1ch;
	text-align: center;
	flex-direction: column;
	& > div.etat {
		font-weight: bold;
	}
	& > div.local {
		font-style: italic;
	}
	& > :empty {
		display: none;
	}
	&:before {
		content: "";
	}
	&:after {
		content: "";
	}
}

@media screen {
	.courant {
		box-shadow: .2em .2em 1em rgba(0, 0, 0, .5);
		position: relative;
		left: -.1em;
		top: -.1em;
	}
}

#formPlage {
	padding-top: .5em;
	margin-top: .5em;
	border-top: 1px solid black;
}

textarea#code,
input#code-iframe {
	width: 100%;
	margin-top: 1em;
}

@media print {
	#status,
	#options {
		display: none;
	}
}
html.affichage {
	font-size: 16px;
	#horaire {
		width: 60em;
		height: 40em;
	}
}

html.impression {
	--filet: 1px solid hsl(0, 0%, 90%);
	body {
		margin: 0;
		width: auto;
		height: auto;
	}
	div.page {
		position: relative;
		width: var(--largeur);
		height: var(--hauteur);
		padding: var(--marges);
		box-sizing: border-box;
		display: grid;
		grid-gap: e('calc(2 * var(--marges))');
		align-items: stretch;
		justify-items: stretch;
	}
	@media screen {
		body {
			background-color: #234;
			padding: 1em;
		}
		div.page {
			background-color: white;
		}
	}
}
html.tetebeche {
	div.page {
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			border-top: var(--filet);
			width: 100%;
		}
	}
	iframe:first-child {
		transform: rotate(180deg);
	}
}
html.pagesimple {
	--largeur: 11in;
	--hauteur: 8.5in;
	--marges: 0.5in;	
}
html.quatre {
	--largeur: 11in;
	--hauteur: 8.5in;
	div.page {
		grid-template-columns: 1fr 1fr;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			border-top: var(--filet);
			width: 100%;
		}
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			border-left: var(--filet);
			height: 100%;
		}
	}
}
html.six {
	div.page {
		grid-template-columns: 1fr 1fr;
		&::before {
			content: "";
			position: absolute;
			top: e('calc(var(--hauteur) / 3)');
			bottom: e('calc(var(--hauteur) / 3)');
			border-top: var(--filet);
			border-bottom: var(--filet);
			width: 100%;
		}
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			border-left: var(--filet);
			height: 100%;
		}
	}
}
html.neuf {
	--largeur: 11in;
	--hauteur: 8.5in;
	div.page {
		grid-template-columns: 1fr 1fr 1fr;
		&::before {
			content: "";
			position: absolute;
			top: e('calc(var(--hauteur) / 3)');
			bottom: e('calc(var(--hauteur) / 3)');
			border-top: var(--filet);
			border-bottom: var(--filet);
			width: 100%;
		}
		&::after {
			content: "";
			position: absolute;
			left: e('calc(var(--largeur) / 3)');
			right: e('calc(var(--largeur) / 3)');
			border-left: var(--filet);
			border-right: var(--filet);
			height: 100%;
		}
	}
}