@import 'variables';
@import 'boilerplate';
@import 'interface';
@import 'options';

div.resultats {
	padding-bottom: 1em;
	border-bottom: 1px solid#999;
	border-bottom: groove;
	margin-bottom: 1em;
}

div.champ {
	display: flex;
	align-items: center;
	& > * {
		flex: 1 0 0px;
	}
	& > label {
		flex: 0 0 4em;
		text-align: right;
		padding-right: .5em;
		font-weight: bold;
	}
	& input[type=button],
	& input[type=text],
	& input:not([type]),
	& select,
	& textarea {
		box-sizing: border-box;
		resize: vertical;
	}
}

div#contenu {
	flex: 1 0 8in;
	display: flex;
	flex-direction: column;
	align-items: center;
}

div#status {
	background: #ccc;
	width: 100%;
	height: 100%;
	padding: 1em;
	box-sizing: border-box;
	& div.boutons {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	& textarea,
	& input {
		box-sizing: border-box;
	}
	& textarea {
		resize: vertical;
	}
}

@import '_horaire';
@import 'grille';
@import 'boutons-plage';

@media screen {
	div#horaire > .modif .plage:not(.courant):hover {
		position: relative;
		box-shadow: 0 0 1em rgba(0, 0, 0, .5);
	}
}

@import 'plage';

@media screen {
	.courant {
		box-shadow: .2em .2em 1em rgba(0, 0, 0, .5);
		position: relative;
		left: -.1em;
		top: -.1em;
	}
}

#formPlage {
	padding-top: .5em;
	margin-top: .5em;
	border-top: 1px solid black;
}

textarea#code,
input#code-iframe {
	width: 100%;
	margin-top: 1em;
}

@media print {
	#status,
	#options {
		display: none;
	}
}
html.affichage {
	font-size: 16px;
	#horaire {
		width: 60em;
		height: 40em;
	}
}

html.impression {
	--filet: 1px solid hsl(0, 0%, 90%);
	body {
		margin: 0;
		width: auto;
		height: auto;
	}
	div.page {
		position: relative;
		width: var(--largeur);
		height: var(--hauteur);
		padding: var(--marges);
		box-sizing: border-box;
		display: grid;
		grid-gap: e('calc(2 * var(--marges))');
		align-items: stretch;
		justify-items: stretch;
	}
	@media screen {
		body {
			background-color: #234;
			padding: 1em;
		}
		div.page {
			background-color: white;
		}
	}
}
html.tetebeche {
	div.page {
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			border-top: var(--filet);
			width: 100%;
		}
	}
	iframe:first-child {
		transform: rotate(180deg);
	}
}
html.pagesimple {
	--largeur: 11in;
	--hauteur: 8.5in;
	--marges: 0.5in;	
}
html.quatre {
	--largeur: 11in;
	--hauteur: 8.5in;
	div.page {
		grid-template-columns: 1fr 1fr;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			border-top: var(--filet);
			width: 100%;
		}
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			border-left: var(--filet);
			height: 100%;
		}
	}
}
html.six {
	div.page {
		grid-template-columns: 1fr 1fr;
		&::before {
			content: "";
			position: absolute;
			top: e('calc(var(--hauteur) / 3)');
			bottom: e('calc(var(--hauteur) / 3)');
			border-top: var(--filet);
			border-bottom: var(--filet);
			width: 100%;
		}
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			border-left: var(--filet);
			height: 100%;
		}
	}
}
html.neuf {
	--largeur: 11in;
	--hauteur: 8.5in;
	div.page {
		grid-template-columns: 1fr 1fr 1fr;
		&::before {
			content: "";
			position: absolute;
			top: e('calc(var(--hauteur) / 3)');
			bottom: e('calc(var(--hauteur) / 3)');
			border-top: var(--filet);
			border-bottom: var(--filet);
			width: 100%;
		}
		&::after {
			content: "";
			position: absolute;
			left: e('calc(var(--largeur) / 3)');
			right: e('calc(var(--largeur) / 3)');
			border-left: var(--filet);
			border-right: var(--filet);
			height: 100%;
		}
	}
}