html {
  --largeur: 8.5in;
  --hauteur: 11in;
  --marges: .25in;
}

@page {
  margin: 0;
  size: var(--largeur) var(--hauteur);
}
@media all {
  html {
    height: 100%;
    font-size: 1.8vw;
  }

  html.edition {
    font-size: 11pt;
  }

  body {
    height: 100%;
    font-family: arial;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  *.interface {
    display: grid;
    grid-template-areas: "h h" "o g" "c g" "f f";
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 20em 1fr;
    height: 100%;
    width: 100%;
  }
  *.interface > header, *.interface > footer {
    background-color: #234;
    color: #dbdb24;
    padding: 0 1em 0;
  }
  *.interface > header img, *.interface > footer img {
    margin-right: 0.5ch;
  }
  *.interface #horaire {
    padding: 1em;
  }

  iframe {
    border: none;
  }
}
@media all and (min-width: 13in) {
  *.interface {
    display: grid;
    grid-template-areas: "h h h" "o g c" "f f f";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 20em 1fr 20em;
  }
  *.interface > header, *.interface > footer {
    background-color: #234;
    color: white;
    padding: 0 1em 0;
  }
}
div#options {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1em;
}
div#options th {
  text-align: right;
  width: 5em;
}

div.resultats {
  padding-bottom: 1em;
  border-bottom: 1px solid #999;
  border-bottom: groove;
  margin-bottom: 1em;
}

div.champ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.champ > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0px;
}
div.champ > label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4em;
          flex: 0 0 4em;
  text-align: right;
  padding-right: 0.5em;
  font-weight: bold;
}
div.champ input[type=button], div.champ input[type=text], div.champ input:not([type]), div.champ select, div.champ textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: vertical;
}

button.icone {
  padding: 0.5em;
}
button.icone svg {
  display: block;
  fill: #234;
}

div#contenu {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 8in;
          flex: 1 0 8in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#status {
  background: #ccc;
  width: 100%;
  height: 100%;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
div#status div.boutons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
div#status textarea, div#status input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
div#status textarea {
  resize: vertical;
}

div#horaire {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
div#horaire > div.caption {
  line-height: 1;
  margin-bottom: 0.25em;
  font-weight: bold;
  font-size: 3em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
div#horaire > div.caption > span:only-child {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
div#horaire > div.grille {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

div.grille {
  --gap: 1px;
  display: grid;
  grid-auto-columns: 5em;
  grid-auto-rows: 2em;
  grid-auto-flow: column dense;
  grid-gap: var(--gap);
  padding: var(--gap);
  background-color: black;
}
div.grille > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
div.grille div.heure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: smaller;
  font-weight: bold;
  background-color: #cccccc;
  line-height: 1;
}
div.grille div.heure > div:nth-child(2) {
  display: none;
}
div.grille div.case {
  background-color: #f2f2f2;
  background-color: white;
}

div.boutonsPlage {
  --epaisseur: 1em;
  --fond: rgba(0, 0, 0, .4);
  --couleur: white;
  --couleur: hsl(60, 60%, 60%);
  --hover-fond: yellow;
  --hover-couleur: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
div.boutonsPlage > * {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
div.boutonsPlage > * > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--fond);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.boutonsPlage > * > * svg {
  display: block;
  fill: var(--couleur);
}
div.boutonsPlage > * > *:hover {
  background-color: var(--hover-fond);
}
div.boutonsPlage > * > *:hover svg {
  fill: var(--hover-couleur);
}
div.boutonsPlage > :nth-child(1), div.boutonsPlage > :nth-child(2) {
  width: 100%;
  height: var(--epaisseur);
}
div.boutonsPlage > :nth-child(1) svg, div.boutonsPlage > :nth-child(2) svg {
  width: var(--epaisseur);
}
div.boutonsPlage > :nth-child(3), div.boutonsPlage > :nth-child(4) {
  height: 100%;
  width: var(--epaisseur);
}
div.boutonsPlage > :nth-child(3) svg, div.boutonsPlage > :nth-child(4) svg {
  height: var(--epaisseur);
}
div.boutonsPlage > :nth-child(1) {
  top: calc(-1 * var(--epaisseur));
}
div.boutonsPlage > :nth-child(1) > :first-child {
  border-top-left-radius: 100%;
  padding-left: 15%;
}
div.boutonsPlage > :nth-child(1) > :last-child {
  border-top-right-radius: 100%;
  padding-right: 15%;
}
div.boutonsPlage > :nth-child(1) > :only-child {
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  padding: 0;
}
div.boutonsPlage > :nth-child(2) {
  bottom: calc(-1 * var(--epaisseur));
}
div.boutonsPlage > :nth-child(2) > :first-child {
  border-bottom-left-radius: 100%;
  padding-left: 15%;
}
div.boutonsPlage > :nth-child(2) > :last-child {
  border-bottom-right-radius: 100%;
  padding-right: 15%;
}
div.boutonsPlage > :nth-child(2) > :only-child {
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  padding: 0;
}
div.boutonsPlage > :nth-child(3) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: calc(-1 * var(--epaisseur));
}
div.boutonsPlage > :nth-child(3) > :first-child {
  border-top-left-radius: 100%;
  padding-top: 15%;
}
div.boutonsPlage > :nth-child(3) > :last-child {
  border-bottom-left-radius: 100%;
  padding-bottom: 15%;
}
div.boutonsPlage > :nth-child(3) > :only-child {
  border-top-left-radius: 100% 50%;
  border-bottom-left-radius: 100% 50%;
  padding: 0;
}
div.boutonsPlage > :nth-child(4) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: calc(-1 * var(--epaisseur));
}
div.boutonsPlage > :nth-child(4) > :first-child {
  border-top-right-radius: 100%;
  padding-top: 15%;
}
div.boutonsPlage > :nth-child(4) > :last-child {
  border-bottom-right-radius: 100%;
  padding-bottom: 15%;
}
div.boutonsPlage > :nth-child(4) > :only-child {
  border-top-right-radius: 100% 50%;
  border-bottom-right-radius: 100% 50%;
  padding: 0;
}
div.boutonsPlage > :nth-child(5), div.boutonsPlage > :nth-child(6) {
  bottom: calc(-1 * var(--epaisseur));
}
div.boutonsPlage > :nth-child(5) > *, div.boutonsPlage > :nth-child(6) > * {
  border-radius: 100%;
  padding: 3px;
}
div.boutonsPlage > :nth-child(5) {
  left: calc(-1 * var(--epaisseur));
}
div.boutonsPlage > :nth-child(6) {
  right: calc(-1 * var(--epaisseur));
}

div.jour {
  background-color: #666;
  color: white;
  font-weight: bold;
}

@media (max-width: 13in) {
  .interface > *:nth-child(2) {
    background-color: #CC0 !important;
  }
  .interface > *:nth-child(2) > * {
    position: absolute;
    right: 0;
    width: 3in;
    background-color: inherit !important;
    z-index: 1000;
  }
  .interface > *:nth-child(2):hover > * {
    left: 0;
    display: block;
  }
}
@media screen {
  div#horaire > .modif .plage:not(.courant):hover {
    position: relative;
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  }
}
div.plage {
  --hue: 0;
  --sat:100%;
  --lum: 80%;
  background-color: hsl(var(--hue), var(--sat), var(--lum));
  color: hsl(var(--hue), var(--sat), calc(100% - var(--lum)));
  padding: 0 1ch;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
div.plage > div.etat {
  font-weight: bold;
}
div.plage > div.local {
  font-style: italic;
}
div.plage > :empty {
  display: none;
}
div.plage:before {
  content: "";
}
div.plage:after {
  content: "";
}

@media screen {
  .courant {
    -webkit-box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.5);
            box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.5);
    position: relative;
    left: -0.1em;
    top: -0.1em;
  }
}
#formPlage {
  padding-top: 0.5em;
  margin-top: 0.5em;
  border-top: 1px solid black;
}

textarea#code,
input#code-iframe {
  width: 100%;
  margin-top: 1em;
}

@media print {
  #status,
#options {
    display: none;
  }
}
html.affichage {
  font-size: 16px;
}
html.affichage #horaire {
  width: 60em;
  height: 40em;
}

html.impression {
  --filet: 1px solid hsl(0, 0%, 90%);
}
html.impression body {
  margin: 0;
  width: auto;
  height: auto;
}
html.impression div.page {
  position: relative;
  width: var(--largeur);
  height: var(--hauteur);
  padding: var(--marges);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: grid;
  grid-gap: e("calc(2 * var(--marges))");
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
}
@media screen {
  html.impression body {
    background-color: #234;
    padding: 1em;
  }
  html.impression div.page {
    background-color: white;
  }
}

html.tetebeche div.page::before {
  content: "";
  position: absolute;
  top: 50%;
  border-top: var(--filet);
  width: 100%;
}
html.tetebeche iframe:first-child {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

html.pagesimple {
  --largeur: 11in;
  --hauteur: 8.5in;
  --marges: 0.5in;
}

html.quatre {
  --largeur: 11in;
  --hauteur: 8.5in;
}
html.quatre div.page {
  grid-template-columns: 1fr 1fr;
}
html.quatre div.page::before {
  content: "";
  position: absolute;
  top: 50%;
  border-top: var(--filet);
  width: 100%;
}
html.quatre div.page::after {
  content: "";
  position: absolute;
  left: 50%;
  border-left: var(--filet);
  height: 100%;
}

html.six div.page {
  grid-template-columns: 1fr 1fr;
}
html.six div.page::before {
  content: "";
  position: absolute;
  top: e("calc(var(--hauteur) / 3)");
  bottom: e("calc(var(--hauteur) / 3)");
  border-top: var(--filet);
  border-bottom: var(--filet);
  width: 100%;
}
html.six div.page::after {
  content: "";
  position: absolute;
  left: 50%;
  border-left: var(--filet);
  height: 100%;
}

html.neuf {
  --largeur: 11in;
  --hauteur: 8.5in;
}
html.neuf div.page {
  grid-template-columns: 1fr 1fr 1fr;
}
html.neuf div.page::before {
  content: "";
  position: absolute;
  top: e("calc(var(--hauteur) / 3)");
  bottom: e("calc(var(--hauteur) / 3)");
  border-top: var(--filet);
  border-bottom: var(--filet);
  width: 100%;
}
html.neuf div.page::after {
  content: "";
  position: absolute;
  left: e("calc(var(--largeur) / 3)");
  right: e("calc(var(--largeur) / 3)");
  border-left: var(--filet);
  border-right: var(--filet);
  height: 100%;
}
/*# sourceMappingURL=horaire.css.map */