div {
//	border: solid;
}
div.grille {
	height: 5in;
	display:grid;
	grid-auto-columns: 5em;
	grid-auto-rows: 2em;
	grid-auto-flow: column dense;
	grid-gap: 0px;
	grid-template-rows: 2em repeat(10, 1fr);
	grid-template-columns: 3em repeat(7, 1fr) 3em;
}
.rangee, .colonne {
	&:nth-child(odd) {
		background-color: rgba(0,0,0,.1);
	}
	&:nth-child(even) {
		background-color: rgba(0,0,0,0);
	}
}
.rangee, .colonne {
	&:hover {
		&:nth-child(odd) {
			background-color: rgba(255,255,0,.2);
		}
		&:nth-child(even) {
			background-color: rgba(255,255,0,0.1);
		}
	}
}
